In [30]:
import pandas as pd
import random
import datetime

# Function to generate synthetic data
def generate_data(n):
    data = {
        'Vehicle_Model': [random.choice(['Car', 'SUV','Van' ,'Truck','Bus','Motorcycle']) for _ in range(n)],
        'Mileage': [random.randint(30000, 80000) for _ in range(n)],
        'Maintenance_History': [random.choice(['Good', 'Average', 'Poor']) for _ in range(n)],
        'Reported_Issues': [random.randint(0, 5) for _ in range(n)],
        'Vehicle_Age': [random.randint(1, 10) for _ in range(n)],
        'Fuel_Type': [random.choice(['Diesel', 'Petrol', 'Electric']) for _ in range(n)],
        'Transmission_Type': [random.choice(['Automatic', 'Manual']) for _ in range(n)],
        'Engine_Size': [random.choice([800,1000, 1500, 2000, 2500]) for _ in range(n)],
        'Odometer_Reading': [random.randint(1000, 150000) for _ in range(n)],
        'Last_Service_Date': [(datetime.datetime.now() - datetime.timedelta(days=random.randint(30, 365))).strftime('%Y-%m-%d') for _ in range(n)],
        'Warranty_Expiry_Date': [(datetime.datetime.now() + datetime.timedelta(days=random.randint(30, 365*2))).strftime('%Y-%m-%d') for _ in range(n)],
        'Owner_Type': [random.choice(['First', 'Second', 'Third']) for _ in range(n)],
        'Insurance_Premium': [random.randint(5000, 30000) for _ in range(n)],
        'Service_History': [random.randint(1, 10) for _ in range(n)],
        'Accident_History': [random.randint(0, 3) for _ in range(n)],
        'Fuel_Efficiency': [random.uniform(10, 20) for _ in range(n)],
        'Tire_Condition': [random.choice(['New', 'Good', 'Worn Out']) for _ in range(n)],
        'Brake_Condition': [random.choice(['New', 'Good', 'Worn Out']) for _ in range(n)],
        'Battery_Status': [random.choice(['New', 'Good', 'Weak']) for _ in range(n)]
    }
    
    # Apply the logic to set 'Need_Maintenance' based on specified conditions
    need_maintenance = []
    for i in range(n):
        if (data['Maintenance_History'][i] == 'Poor' and data['Reported_Issues'][i] >= 2) or \
           (data['Maintenance_History'][i] == 'Average' and data['Reported_Issues'][i] >= 3) or \
           (data['Maintenance_History'][i] == 'Good' and data['Reported_Issues'][i] >= 4) or \
           (data['Service_History'][i] > 7 and data['Accident_History'][i] > 1) or \
           (data['Brake_Condition'][i] == 'Worn Out' or data['Battery_Status'][i] == 'Weak'):
            need_maintenance.append(1)
        else:
            need_maintenance.append(0)
    
    data['Need_Maintenance'] = need_maintenance
    
    return data

# Generate synthetic data
n = 50000
data = generate_data(n)

# Convert the dictionary to a DataFrame
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv('vehicle_maintenance_data.csv', index=False)

# Display the DataFrame
print(df.head())

  Vehicle_Model  Mileage Maintenance_History  Reported_Issues  Vehicle_Age  \
0         Truck    58765                Good                0            4
1           Van    60353             Average                1            7
2           Bus    68072                Poor                0            2
3           Bus    60849             Average                4            5
4           Bus    45742                Poor                5            1

  Fuel_Type Transmission_Type  Engine_Size  Odometer_Reading  \
0  Electric         Automatic         2000             28524
1  Electric         Automatic         2500            133630
2  Electric         Automatic         1500             34022
3    Petrol         Automatic         2500             81636
4    Petrol            Manual         2000             97162

  Last_Service_Date Warranty_Expiry_Date Owner_Type  Insurance_Premium  \
0        2023-11-23           2025-06-24     Second              20782
1        2023-09-21           2025-06-04     Second              23489
2        2023-06-27           2025-04-27      First              17979
3        2023-08-24           2025-11-05     Second               6220
4        2023-05-25           2025-09-14      Third              16446

   Service_History  Accident_History  Fuel_Efficiency Tire_Condition  \
0                6                 3        13.622204            New
1                7                 0        13.625307            New
2                7                 0        14.306302            New
3                7                 3        18.709467            New
4                6                 2        16.977482           Good

  Brake_Condition Battery_Status  Need_Maintenance
0             New           Weak                 1
1             New           Weak                 1
2            Good           Weak                 1
3        Worn Out            New                 1
4            Good           Weak                 1

In [31]:
df

,Vehicle_Model,Mileage,Maintenance_History,Reported_Issues,Vehicle_Age,Fuel_Type,Transmission_Type,Engine_Size,Odometer_Reading,Last_Service_Date,Warranty_Expiry_Date,Owner_Type,Insurance_Premium,Service_History,Accident_History,Fuel_Efficiency,Tire_Condition,Brake_Condition,Battery_Status,Need_Maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446,6,2,16.977482,Good,Good,Weak,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,Car,77229,Good,3,6,Diesel,Automatic,2500,97404,2023-11-24,2025-09-15,Third,5217,4,1,10.357298,New,Good,Weak,1
49996,Truck,54742,Good,4,4,Diesel,Manual,800,13421,2023-07-14,2025-01-21,Second,15856,4,1,14.924022,Worn Out,New,Good,1
49997,Van,75601,Poor,0,4,Electric,Automatic,1500,124851,2023-09-09,2024-11-09,First,6019,10,0,19.859243,Worn Out,Worn Out,Weak,1
49998,Car,66181,Good,1,7,Electric,Manual,2500,103182,2023-08-26,2025-05-22,Third,5030,4,3,10.720555,New,Good,Weak,1
49999,Car,71605,Poor,0,10,Petrol,Manual,2000,65721,2023-07-25,2024-06-06,Third,9171,6,3,16.328945,Good,New,Good,0